.imagen_respuesta{
  display: none;
}
#solved_1{
  width: 50%;
}

#ejercicio_2{
  display: none;
}
#ejercicio_3{
  display: none;
}
#ejercicio_4{
  display: none;
}
#ejercicio_5{
  display: none;
}
#ejercicio_6{
  display: none;
}
#ejercicio_7{
  display: none;
}
#ejercicio_8{
  display: none;
}
#ejercicio_9{
  display: none;
}
